*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(24,219,234); 
    
background: linear-gradient(287deg, rgba(24,219,234,1) 0%, rgba(16,156,166,1) 34%, rgba(1,35,33,1) 100%);
    height: 100vh; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    background-color: white;
    padding: 30px;
}
ul{
    /* background-color: rgb(145, 144, 142);
    line-height: 50px; */
    /* margin: 20px; */
    
}
li{
    background-color: rgb(145, 144, 142);
    line-height: 40px;
    margin: 20px  0px 5px 0px ;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
}

button{
    background-color: rgb(255, 0, 174);
    padding: 10px;
    border: none;
    outline: none;
    color: white;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}
input{
    padding: 6px;
}